/*=====================

Universal Styling

======================*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.contatiner {
    max-width: 800px;
    margin: 0 auto;
 
}

h1,
h2,
h3,
p {
   margin: 10px 0;
}

p {
    line-height: 150%;
}

/*=======================


    Header Nav Styling

========================*/

header {
    background: #9BD1CC;
    z-index: 100;
}

.logo {
    width: 40%;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}

header nav {
    width: 45%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    position: relative;
    top: 40px;
}

header nav li {
    display: inline-block;
}

header nav a {
    color: #F2EFE2;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    margin: 0 18px;
}

/*========================

    Hero Styling


=========================*/

.hero img {
    height: 40%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero {
    width: 100%
    text-align: center;
    color: white;
}

.hero-button {
    position: absolute;
    text-align: center;
    top: 1000px;
    color: #3D3C36;
    font-weight: bold;
    background: hotpink;
    opacity: 80%;
    border-radius: 5px;
    
}


.welcome {
    margin: 80px;
}

main {
    background: #F2EFE2;
}

/*==============================

    Top Seller Product Section

==============================*/

.individual-products {

    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    width: 20%;
    padding: 0 10px;
    position: relative;
    text-align:center;

}

.individual-products img {
    width: 100%

}

section.top-sellers {
    margin: 80px;
    text-align: left;
}

/*=======================

    Footer Styling

=======================*/



footer {
    background: #BFEA86;
    opacity: 80%;
    height: 45%;
    padding: 80px;

}

ul {
    list-style: none;
    font-weight: bold;

}