/*=====================

Universal Styling

======================*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.contatiner {
    max-width: 800px;
    margin: 0 auto;
}

h1,
p {
    margin: 20px 0;
}

header {
    background: #9BD1CC;
}

.logo {
    width: 40%;
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}

header nav {
    width: 45%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    position: relative;
    top: 40px;
}

header nav li {
    display: inline-block;
}

header nav a {
    color: #F2EFE2;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    margin: 0 18px;
}

.hero img {
    height: 50%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.welcome {
    margin: 70px 0;
    padding: 45px 0;
}